/*GENERAL STYLES*/

:root {
    --second-font: 'Roboto', sans-serif;
    --main-color: #212121;
    --second-color: #757575;
    --background-color: #FFFFFF;
    --second-backgroundcolor: #2F303A;
    --accent-color: #2196F3;
    --background-color-current: #188CE8;
    --background-color-team: #F5F4FA;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --mailtel-color: rgba(255, 255, 255, 0.6);
}

body{
   background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.header{
position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background-color: var(--white-color);
}
.list-link-current {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.header-link-item{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--main-color);
}

.header-link-item :hover,
.header-link-item :focus {
    color: var(--accent-color);
}
.header-color{ 
    background-color: var(--white-color);
}

.list-link{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 14px;
line-height:  calc(16/14);
letter-spacing: 0.02em;

color: var(--main-color);
} 
.first-part{
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
color: var(--accent-color);
}

.last-part{
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height:  calc(31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    color: var(--black-color);
}

.header-mail-link{
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
    
        color: var(--second-color);
    
}

.header-tel-link{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--second-color);
}
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
color: var(--accent-color);
}



/*HERO*/
.hero-title-before{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height:calc(60/44);
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--background-color);
}

.section-hero{
    background-color: var(--second-backgroundcolor);
}


.hero-title-after{
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--main-color);
    }
    .hero-content{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(24/14);
            /* or 171% */
            letter-spacing: 0.03em;
        
            color: #757575;
    }

.header-btn {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);
  background-color: var(--accent-color);
    cursor: pointer
}

.header-btn:hover,
.header-btn:focus
{
background-color: var(--second-color);
}



/*ABOUt*/
.about-title{
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height:  calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--main-color);
    
}
.section-color{
background-color: var(--background-color);
}

.about-team{
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
      color: var(--main-color);
}
.work-team{
        font-family: 'Roboto',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(19/16);
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
   color: var(--second-color);
}
.section-team{
background-color: var(--background-color-team);
}

.about-mail{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.about-tel{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        /* or 171% */
        letter-spacing: 0.03em;
    
        color: var(--mailtel-color);    
}

.about-tel:hover, 
.about-tel:focus,
.about-mail:hover,
.about-mail:focus,
.about-adress:hover
{
color: var(--accent-color);
}
.about-adress{
        font-family:'Roboto',sans-serif;
        font-style:normal;
        font-weight: 400;
        font-size: 14px;
        line-height:calc(24/14);
        /* or 171% */
        letter-spacing: 0.03em;
        color: var(--background-color);

}
.about-contact{
   background-color: var(--second-backgroundcolor);
}

.footer-web{
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
}
.footer-studio{
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height:  calc(31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color: var(--background-color);
}