/*GENERAL STYLES*/

:root{
    --second-font: 'Roboto', sans-serif;
    --accent-color: #FFFFFF;
    --link-hover-color: #2196F3;
}
body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.header{
position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}
.list-link-current {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calk (16/14);
    letter-spacing: 0.02em;
    color: #212121;
}

.header-link-item{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calk (16/14);
    letter-spacing: 0.02em;

    color:#212121;
}

.header-link-item :hover,
.header-link-item :focus {
    color: #2196F3
}

.list-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height:  calk (16/14);
letter-spacing: 0.02em;

color: #212121;
} 
.first-part{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calk (31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
color:#2196F3
}

.last-part{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height:  calk (31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    color:#000000
}

.header-mail-link{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calk (16/14);
        letter-spacing: 0.02em;
    
        color: #757575;
    
}

.header-tel-link{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calk (16/14);
    letter-spacing: 0.02em;

    color: #757575;
}
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
color: #2196F3
}



/*HERO*/
.hero-title-before{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height:calk (60/44);
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.section-hero{
    background: #2F303A;
}

.hero-title-after{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calk (16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
    }
    .hero-content{
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: calk (24/14);
            /* or 171% */
            letter-spacing: 0.03em;
        
            color: #757575;
    }

.header-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calk (30/16);
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer
}


/*ABOUt*/
.about-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height:  calk (42/36);
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
    
}

.about-team{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calk (19/16);
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.work-team{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: calk (19/16);
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}
.section-team{
background: #F5F4FA;
}

.about-mail{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calk (24/14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.about-tel{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calk 24/14;
        /* or 171% */
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);      
}

.about-tel:hover, 
.about-tel:focus,
.about-mail:hover,
.about-mail:focus{
color: #2196F3;
}
.about-adress{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calk (24/14);
        /* or 171% */
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}
.about-contact{
    background: #2F303A;
}

.footer-web{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calk (31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color: #2196F3;
}
.footer-studio{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height:  calk (31/26);
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color:#FFFFFF;
}